.DS_Store
Thumbs.db
*.log
/.env
/.env.*
!/.env.example
source/sites/default/settings.local.php
source/sites/default/services.local.yml
source/sites/default/avnl.runtime-locator.php
source/sites/default/avnl.runtime-secrets.php
