/.env
/vendor/
/core/
/modules/contrib/
/themes/contrib/
/libraries/

/files/*
!/files/.htaccess
!/files/config_fc-AWpWchik1oyyNmowtvFqtZcTyhOYGy6Zzzbt-7Qc6N2P2hrfIubehAOkqcmI1p1AF1cgPYw/
!/files/config_fc-AWpWchik1oyyNmowtvFqtZcTyhOYGy6Zzzbt-7Qc6N2P2hrfIubehAOkqcmI1p1AF1cgPYw/sync/
!/files/config_fc-AWpWchik1oyyNmowtvFqtZcTyhOYGy6Zzzbt-7Qc6N2P2hrfIubehAOkqcmI1p1AF1cgPYw/sync/**

/sites/default/files/*
!/sites/default/files/.htaccess
/sites/default/settings.local.php

*.sql
*.sql.gz
*.key
*.pem
*.p12
*.pfx
